name = "restaurant-wheel-api"
main = "src/index.ts"
compatibility_date = "2024-01-01"

[env.production]
name = "restaurant-wheel-api"

[[d1_databases]]
binding = "DB"
database_name = "restaurant-wheel-db"
database_id = "c589926f-01a5-46db-8d3b-32cc83582c31" # Will be populated after creating D1 database

[vars]
ENVIRONMENT = "development"
FRONTEND_URL = "http://localhost:5173"
